services:
  jn:
    build:  
      context: .
      target: jn
    platform: linux/amd64
    volumes:
      - juptyer_datasets:/home/project/work
    ports:
      - 8888:8888
    restart: always
    x-tinkr:
      cpu: 512
      memory: 1024
      load_balancer:
        tenancy: shared
        type: webserver
        healthcheck:
          timeout: 10
          healthy-threshold: 3
          unhealthy-threshold: 5
          port: 8888
          path: /
          interval: 120
    container_name: jn

volumes:
  juptyer_datasets:
